#countLable {
    display: block;
    text-align: center;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 15px;
    background-color: rgb(58, 25, 122);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: blueviolet;
}